.app-footer {
  width: 100%;

  color: var(--app-color-primary-contrast);
  background-color: var(--app-color-primary);

  &--outline {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    align-content: center;
  }

  &--contact {
    margin: 0 auto;
  }

  a {
    color: var(--app-color-primary-contrast);

    &:active, &:hover {
      color: var(--app-color-light);
    }
  }
}
