.app-header {
  color: var(--app-color-primary-contrast);
  background-color: var(--app-color-primary);

  &--outline {
    padding: 25px 20px;
    margin-bottom: 10px;

    size: 2em;
    font-weight: bold;
  }

  &--sponsor {
    margin-top: -5px;
    position: absolute;
    right: 10px;
  }

  img {
    border-radius: 12px;
  }
}
