body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow: auto;
}

a {
  color: var(--app-color-primary);

  &:active, &:hover {
    color: var(--app-color-primary-tint);
  }
}

.container {
  margin: 0 auto;
  padding: 5px 20px;
}

.push-down {
  margin-bottom: 80px;
}

.panel {
  &--content {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;
  }

  &--primary {
    color: var(--app-color-primary-contrast);
    background-color: var(--app-color-primary);
  }

  &--secondary {
    color: var(--app-color-secondary-contrast);
    background-color: var(--app-color-secondary);
  }

  &--tertiary {
    color: var(--app-color-tertiary-contrast);
    background-color: var(--app-color-tertiary);
  }

  &--info {
    color: var(--app-color-light-contrast);
    background-color: var(--app-color-light);
  }

  &--title {
    display: inline-block;
    width: 90%;
  }

  &--actions {
    display: inline-block;
    width: 10%;
    text-align: right;
  }
}

.description-text {
  size: 0.9em;
  font-style: italic;
}
